



h1{
  text-align: center;
  font-family: 'Oleo Script', cursive;

}

h2{
  color: #20434D;
}

h3{
  color: #20434D;
  font-size: 24px;

}

h4{
  margin-bottom: -30px;
  font-size: 20px;
}

h5{
  margin-bottom: -15px;
  color: #555457;
  font-size:16px;

}

h6{
  font-size: 18px;
}

ul.banner{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BC8F8F;
}

li.bannerlist{
  float: left;
}

li a.bannertxt{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.bannertxt:hover{
  background-color: #8c6c6c;
}
