body{
  background-color: #fefefe;
}

h1{
color: #20434D;
text-align: center;
font-family: Sans-serif;
}

div{
 color: #30003B;
 text-align: center;
 font-family: "Courier New";
 font-style: italic;
}

h4{
  font-family: Sans-serif;
  color: #20434D;
  font-style: italic;
}
  
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
  
