body{
  background-color: #fefefe;
}

h1{
font-size: 24px;
color: #20434D;
text-align: center;
font-family: Sans-serif;
}

h2{
  font-size: 18px;
  color: #3C6976;
  text-align: center;
  font-family: Sans-serif;
}

h3{
  font-size: 22px;
  text-align: center;
}

h4{
  font-family: Sans-serif;
  color: #20434D;
  text-align: center;
}


h5{

  font-size: 16px;
  text-decoration: underline;
}

h6{
  font-size: 14px;
  font-style: normal;
}


div{
 color: #30003B;
 text-align: center;
 font-family: "Courier New";
 font-style: italic;
}



.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 250;
  max-height: 250;

}

button{
    margin: 0 auto;
    display: block;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BC8F8F;
}

li{
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #8c6c6c;
}
